/* Start Variables */
:root {
    --icon-color : #53545cbf;
    --text-color : #53545C;
    --background-color : #5570f1;
    --yellow-color : #FFCC91;
    --yellow-alt-color: #f7b86f;
    --blue-color: blue;
    --blue-alt-color: #97A5EB;
    --main-background-color: #f1f5f9;
    --color-red : red;
    --color-alt-red : rgb(255 0 0 / 15%);
    --color-green : green;
    --color-alt-green : #00800029;
    --main-border-color : #f7f7f7;
    --color-gray: lch(88 0.02 356.63 / 0.55);
}
/* End Variables */

/* Start Box */
.d-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.align-center {
    align-items: center;
}

.w-flex {
    flex-wrap: wrap;
}

.d-grid {
    display: grid;
}
/* End Box */

/* Start Padding And Margin */
.p-8 {
    padding: 8px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-25 {
    padding: 25px;
}

.p-30 {
    padding: 30px;
}

.pr-20 {
    padding-right: 20px;
}

.pl-8 {
    padding-left: 8px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-40 {
    padding-left: 40px;
}

.m-0 {
    margin: 0;
}

.m-auto {
    margin: auto;
}

.m-20 {
    margin: 20px;
}

.mt-auto {
    margin-top: auto;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-auto {
    margin-top: auto;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-8 {
    margin-left: 8px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.gap-8 {
    gap: 8px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-25 {
    gap: 25px;
}

.gap-30 {
    gap: 30px;
}

.gap-100 {
    gap: 100px;
}
/* End Padding And Margin */

/* Start Fonts */
.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-25 {
    font-size: 25px;
}

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}
/* End Fonts */

/* Start Colors */
.c-black {
    color: black;
}

.c-red {
    color: red;
}

.c-white {
    color: white;
}

.bg-white {
    background-color: white;
}

.c-green {
    color: var(--color-green);
}

.c-blue {
    color: blue;
}

.bg-gray {
    background-color: var(--color-gray);
}

.bg-green {
    background-color: var(--color-alt-green);
}

.bg-red {
    background-color: var(--color-alt-red);
}
.bg-blue {
    background-color: #5570F1;
}

.bg-alt-blue {
    background-color: var(--blue-alt-color);
}

.bg-yellow {
    background-color: var(--yellow-color);
}
/* End Colors */

/* Start Border Radius */
.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rad-15 {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.rad-20 {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.rad-half {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* End Border Radius */

/* Start Transitions */
.trans-3s {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
/* End Transitions */

/* Start Positions */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.txt-center {
    text-align: center;
}
/* End Positions */